@font-face {
    font-family: ddili-sans-serif;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/opensans/OpenSans-Regular-webfont.woff")
}

@font-face {
    font-family: ddili-sans-serif;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/opensans/OpenSans-Bold-webfont.woff")
}

@font-face {
    font-family: ddili-sans-serif;
    font-style: italic;
    font-weight: normal;
    src: url("fonts/opensans/OpenSans-Italic-webfont.woff")
}

@font-face {
    font-family: ddili-sans-serif;
    font-style: italic;
    font-weight: bold;
    src: url("fonts/opensans/OpenSans-BoldItalic-webfont.woff")
}

@font-face {
    font-family: ddili-serif;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/andada/Andada-Regular.ttf")
}

@font-face {
    font-family: ddili-serif;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/andada/Andada-Bold.ttf")
}

@font-face {
    font-family: ddili-serif;
    font-style: italic;
    font-weight: normal;
    src: url("fonts/andada/Andada-Italic.ttf")
}

@font-face {
    font-family: ddili-serif;
    font-style: italic;
    font-weight: bold;
    src: url("fonts/andada/Andada-BoldItalic.ttf")
}

@font-face {
    font-family: ddili-monospace;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/dejavu/DejaVuSansMono-webfont.ttf")
}

@font-face {
    font-family: ddili-monospace;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/dejavu/DejaVuSansMono-Bold-webfont.ttf")
}

@font-face {
    font-family: ddili-monospace;
    font-style: italic;
    font-weight: normal;
    src: url("fonts/dejavu/DejaVuSansMono-Oblique-webfont.ttf")
}

@font-face {
    font-family: ddili-monospace;
    font-style: italic;
    font-weight: bold;
    src: url("fonts/dejavu/DejaVuSansMono-BoldOblique-webfont.ttf")
}
