<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_regex_edit_sr_search</key>
	<array>
	</array>
	<key>lineedit_history_xpath_edit_opt_chapter</key>
	<array>
		<string>//*[((name()='h1' or name()='h2' or name()='h4') and re:test(., '\s*((chapter|book|section|part)\s+)|((prolog|prologue|epilogue)(\s+|$))', 'i')) or @class = 'chapter']</string>
	</array>
	<key>lineedit_history_xpath_edit_opt_level1_toc</key>
	<array>
		<string>//h:h4</string>
		<string>//h:*h4</string>
	</array>
	<key>lineedit_history_xpath_edit_opt_level2_toc</key>
	<array>
	</array>
	<key>lineedit_history_xpath_edit_opt_page_breaks_before</key>
	<array>
		<string>//*[name()='h1' or name()='h2' or name()='h4']</string>
	</array>
	<key>lineedit_history_xpath_edit_opt_start_reading_at</key>
	<array>
	</array>
</dict>
</plist>
